Repository nasa/openmct, pull requests merged in 2021-12, with the labels that each got.

#4540 Run Percy Nightly and on PR
  .github/workflows/e2e-visual.yml
Labels: pr:visual

#4604 Condition set e2e
  e2e/tests/plugins/condition/condition.e2e.spec.js
Labels: pr:e2e

#4625 Condition set visual test
  e2e/playwright-visual.config.js
  e2e/tests/visual/default.spec.js
Labels: pr:visual

#4242 [Build] webpack5 upgrade
  .npmrc
  app.js
  karma.conf.js
  package.json
  src/MCT.js
  src/plugins/displayLayout/components/layout-frame.scss
  src/plugins/flexibleLayout/components/flexible-layout.scss
  src/plugins/folderView/components/grid-view.scss
  src/plugins/timeConductor/conductor-axis.scss
  src/styles/_constants-mobile.scss
  src/styles/_controls.scss
  src/styles/_global.scss
  src/styles/_legacy-messages.scss
  src/styles/_legacy.scss
  src/styles/_mixins.scss
  src/ui/components/toggle-switch.scss
  src/ui/layout/mct-tree.scss
  src/ui/layout/pane.scss
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Labels: pr:e2e, pr:visual

#4627 [My Items] Make folder name customizable
  src/plugins/myItems/myItemsInterceptor.js
  src/plugins/myItems/plugin.js
  src/plugins/myItems/pluginSpec.js
Labels: pr:e2e, pr:visual
