Repository nasa/openmct, pull requests merged in 2022-03, with the labels that each got.

#4906 [CI] Remove warning output for eslint on platform workflow
  .github/workflows/pr-platform.yml
Labels: pr:platform

#4930 [e2e] Add todo-like stubs for CRUD Operation tests
  e2e/tests/plugins/condition/condition.e2e.spec.js
Labels: pr:e2e

#4887 Form validation error messages are not being displayed properly
  e2e/tests/plugins/timeConductor/timeConductor.e2e.spec.js
  e2e/tests/visual/default.spec.js
  package.json
  src/plugins/timeConductor/ConductorInputsFixed.vue
Labels: pr:e2e, pr:visual

#4941 [Build] 🐰🐰🐰 Remove the last carrots 🐰🐰🐰
  package.json
Labels: pr:e2e, pr:platform

#4944 [CI] Update GHA to include a specific playwright dependency version
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e-visual.yml
Labels: pr:e2e, pr:visual, pr:daveit

#4943 [e2e] Persistence tests
  e2e/tests/moveObjects.e2e.spec.js
  e2e/tests/persistence/addNoneditableObject.js
  e2e/tests/persistence/persistability.e2e.spec.js
  e2e/tests/plugins/ExportAsJSON/exportAsJson.e2e.spec.js
  e2e/tests/plugins/ImportAsJSON/importAsJson.e2e.spec.js
Labels: pr:e2e, pr:visual

#4649 code coverage with babel istanbul
  .circleci/config.yml
  .npmrc
  babel.coverage.js
  karma.conf.js
  package.json
  webpack.coverage.js
Labels: pr:e2e, pr:visual, pr:platform

#4959 [e2e] Bump git-rev-sync and e2e coverage
  e2e/tests/branding.e2e.spec.js
  package.json
Labels: pr:e2e, pr:visual

#4736 34 - Image Pan and Zoom
  e2e/tests/plugins/imagery/exampleImagery.e2e.spec.js
  src/plugins/imagery/components/ImageControls.vue
  src/plugins/imagery/components/ImageryView.vue
  src/plugins/imagery/components/imagery-view.scss
  src/plugins/imagery/lib/eventHelpers.js
  src/plugins/imagery/pluginSpec.js
Labels: pr:visual

#4956 [clock] Timezone dropdown will collapse when clicked outside or on dropdown icon again
  e2e/tests/example/generator/Clock.e2e.spec.js
  src/api/forms/FormController.js
  src/api/forms/components/controls/AutoCompleteField.vue
Labels: source:community, pr:e2e

#4957 [plot] Fix Cursor Grab while panning
  src/plugins/plot/MctPlot.vue
  src/styles/_legacy-plots.scss
Labels: source:community

#5004 [Build] Update lodash to address vulnerability
  package.json
Labels: dependencies, pr:e2e, pr:visual, pr:daveit, pr:platform

#5012 remove file loader as dependency
  package.json
  webpack.common.js
Labels: pr:e2e, pr:visual
