Repository nasa/openmct, pull requests merged in 2022-05, with the labels that each got.

#5123 [Build] Update CircleCI Dependency to fix flakey downloads
  .circleci/config.yml
Labels: pr:daveit

#5128 [e2e]: added test for creating and moving objects
  e2e/tests/moveObjects.e2e.spec.js
Labels: source:community

#5168 Fix all e2e tests
  .circleci/config.yml
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e-visual.yml
  e2e/playwright-ci.config.js
  e2e/playwright-local.config.js
  e2e/tests/moveObjects.e2e.spec.js
  e2e/tests/plugins/imagery/exampleImagery.e2e.spec.js
  e2e/tests/plugins/plot/autoscale.e2e.spec.js
  e2e/tests/plugins/plot/autoscale.e2e.spec.js-snapshots/autoscale-canvas-panned-chrome.png
  e2e/tests/plugins/plot/autoscale.e2e.spec.js-snapshots/autoscale-canvas-prepan-chrome.png
  e2e/tests/plugins/plot/logPlot.e2e.spec.js
  package.json
Labels: pr:e2e

#5177 Add console error checking to our e2e suite
  .github/ISSUE_TEMPLATE/bug_report.md
  e2e/fixtures.js
  e2e/tests/branding.e2e.spec.js
  e2e/tests/example/eventGenerator.e2e.spec.js
  e2e/tests/example/generator/SinewaveLimitProvider.e2e.spec.js
  e2e/tests/moveObjects.e2e.spec.js
  e2e/tests/persistence/persistability.e2e.spec.js
  e2e/tests/plugins/ExportAsJSON/exportAsJson.e2e.spec.js
  e2e/tests/plugins/ImportAsJSON/importAsJson.e2e.spec.js
  e2e/tests/plugins/clock/Clock.e2e.spec.js
  e2e/tests/plugins/condition/condition.e2e.spec.js
  e2e/tests/plugins/imagery/exampleImagery.e2e.spec.js
  e2e/tests/plugins/plot/autoscale.e2e.spec.js
  e2e/tests/plugins/plot/logPlot.e2e.spec.js
  e2e/tests/plugins/timeConductor/timeConductor.e2e.spec.js
  e2e/tests/smoke.e2e.spec.js
  package.json
Labels: pr:e2e

#5156 Gauge limits
  src/plugins/gauge/components/Gauge.vue
Labels: pr:visual

#5237 Added visual test for capturing the Save Successful Banner - 5154
  e2e/playwright-visual.config.js
  e2e/tests/visual/default.visual.spec.js
  package.json
Labels: pr:e2e, pr:visual

#4372 MCT 3930
  e2e/tests/visual/default.visual.spec.js
  src/styles/_legacy.scss
Labels: pr:visual, pr:daveit
