Repository nasa/openmct, pull requests merged in 2022-04, with the labels that each got.

#5030 [Build] Update broken transitive percy package and override core-js
  package.json
Labels: dependencies, pr:e2e, pr:visual

#4934 Set flex direction to row reverse to right-align imagery thumbnails
  src/plugins/imagery/components/imagery-view.scss
Labels: pr:e2e, pr:visual

#5040 fix: autoscale turned off could cause errors
  e2e/tests/plugins/plot/autoscale.e2e.spec.js
  e2e/tests/plugins/plot/autoscale.e2e.spec.js-snapshots/autoscale-canvas-panned-chrome.png
  e2e/tests/plugins/plot/autoscale.e2e.spec.js-snapshots/autoscale-canvas-prepan-chrome.png
  src/plugins/plot/configuration/PlotConfigurationModel.js
  src/plugins/plot/configuration/XAxisModel.js
  src/plugins/plot/configuration/YAxisModel.js
  src/plugins/plot/inspector/forms/YAxisForm.vue
  src/plugins/plot/inspector/forms/formUtil.js
Labels: pr:e2e, pr:visual

#5091 [Build] Add support for node18
  .circleci/config.yml
  .github/workflows/pr-platform.yml
Labels: pr:platform
