Repository nasa/openmct, pull requests merged in 2022-08, with the labels that each got.

#5607 [e2e] Tests for Display Layout and LAD Tables and telemetry
  e2e/appActions.js
  e2e/tests/functional/plugins/displayLayout/displayLayout.e2e.spec.js
  e2e/tests/functional/plugins/lad/lad.e2e.spec.js
  e2e/tests/functional/plugins/timeConductor/timeConductor.e2e.spec.js
Labels: pr:e2e

#5600 [CLA Approved] [Build] Remove maelstromTheme
  src/plugins/plugins.js
  src/plugins/themes/maelstrom-theme.scss
  src/plugins/themes/maelstrom.js
  webpack.common.js
Labels: source:community

#5652 [CI] Update dependabot ignore list for dependencies which will always fail
  .github/dependabot.yml
Labels: dependencies

#5663 [Condition Set] Add check for empty string being passed to the makeKeyString util by TelemetryCriterion (#5636)
  e2e/tests/functional/plugins/conditionSet/conditionSet.e2e.spec.js
  src/plugins/condition/criterion/TelemetryCriterion.js
Labels: pr:e2e

#4414 4386 - In time conductor history, show them on hover if only milliseconds have changed
  src/plugins/timeConductor/pluginSpec.js
  src/utils/duration.js
Labels: source:community

#5643 Sort tree items locally on rename
  e2e/appActions.js
  e2e/tests/functional/plugins/notebook/restrictedNotebook.e2e.spec.js
  e2e/tests/functional/plugins/timer/timer.e2e.spec.js
  e2e/tests/functional/tree.e2e.spec.js
  e2e/tests/visual/components/tree.visual.spec.js
  package.json
  src/ui/layout/Layout.vue
  src/ui/layout/mct-tree.vue
  src/ui/layout/tree-item.vue
Labels: pr:e2e

#5081 Remove lighthouse, jsdoc, and bourbon dependencies
  package.json
Labels: dependencies, pr:e2e

#5475 5413 - [Notebook] Various visual issues with renaming sections/pages
  e2e/tests/functional/plugins/notebook/notebook.e2e.spec.js
  src/plugins/notebook/components/PageComponent.vue
  src/plugins/notebook/components/SectionComponent.vue
  src/plugins/notebook/components/sidebar.scss
  src/plugins/notebook/utils/notebook-key-code.js
  src/styles/notebook.scss
Labels: source:community

#5655 [CI] Enable couchdb e2e testing in open source
  .github/workflows/e2e-couchdb.yml
  e2e/tests/functional/couchdb.e2e.spec.js
  package.json
  src/plugins/persistence/couch/.env.ci
  src/plugins/persistence/couch/couchdb-compose.yaml
  src/plugins/persistence/couch/replace-localstorage-with-couchdb-indexhtml.sh
  src/plugins/persistence/couch/setup-couchdb.sh
Labels: pr:e2e:couchdb

#5654 Handle couch db not found errors so that interceptors are still invoked.
  e2e/tests/functional/couchdb.e2e.spec.js
  e2e/tests/functional/plugins/plot/autoscale.e2e.spec.js-snapshots/autoscale-canvas-panned-chrome-darwin
  e2e/tests/functional/plugins/plot/autoscale.e2e.spec.js-snapshots/autoscale-canvas-panned-chrome-linux
  e2e/tests/functional/plugins/plot/autoscale.e2e.spec.js-snapshots/autoscale-canvas-prepan-chrome-darwin
  e2e/tests/functional/plugins/plot/autoscale.e2e.spec.js-snapshots/autoscale-canvas-prepan-chrome-linux
  src/api/objects/ObjectAPI.js
  src/plugins/interceptors/missingObjectInterceptor.js
  src/plugins/myItems/pluginSpec.js
Labels: pr:e2e:couchdb

#5546 [CLA Approved] Fix references to telemetry data "unit" in the plot LEGEND form, top legend display and documentation
  API.md
  src/plugins/plot/inspector/PlotOptionsBrowse.vue
  src/plugins/plot/inspector/forms/LegendForm.vue
  src/plugins/plot/legend/PlotLegendItemCollapsed.vue
Labels: source:community

#5650 Swallow abort errors in search
  .github/workflows/e2e-couchdb.yml
  .gitignore
  package.json
  src/plugins/URLTimeSettingsSynchronizer/pluginSpec.js
  src/plugins/persistence/couch/setup-couchdb.sh
  src/ui/layout/search/GrandSearch.vue
  src/ui/router/ApplicationRouterSpec.js
Labels: pr:e2e:couchdb
