Repository nasa/openmct, pull requests merged in 2022-09, with the labels that each got.

#5685 [e2e] Clean up example imagery tests, fix display layout test
  .circleci/config.yml
  .github/workflows/e2e-couchdb.yml
  .github/workflows/e2e-pr.yml
  e2e/tests/functional/plugins/imagery/exampleImagery.e2e.spec.js
  package.json
Labels: pr:e2e

#5719 [CLA Approved] Fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: source:user request, source:community

#5737 Request priority
  e2e/tests/functional/plugins/imagery/exampleImagery.e2e.spec.js
  src/plugins/imagery/components/ImageThumbnail.vue
  src/plugins/imagery/components/ImageryView.vue
  src/plugins/persistence/couch/CouchObjectProvider.js
  src/plugins/persistence/couch/pluginSpec.js
Labels: pr:e2e

#5797 Replace app.js with webpack-dev-server
  .npmignore
  API.md
  Procfile
  README.md
  app.js
  docs/footer.html
  docs/gendocs.js
  docs/header.html
  e2e/README.md
  e2e/playwright-ci.config.js
  e2e/playwright-local.config.js
  e2e/playwright-performance.config.js
  e2e/playwright-visual.config.js
  e2e/tests/framework/baseFixtures.e2e.spec.js
  e2e/tests/visual/controlledClock.visual.spec.js
  e2e/tests/visual/default.visual.spec.js
  jsdoc.json
  karma.conf.js
  lighthouserc.yml
  package.json
  src/plugins/performanceIndicator/pluginSpec.js
  webpack.common.js
  webpack.coverage.js
  webpack.dev.js
  webpack.prod.js
Labels: pr:e2e, pr:platform, pr:e2e:couchdb

#5783 4386 - In time conductor history, show them on hover if only milliseconds have changed - tooltip
  e2e/tests/functional/plugins/timeConductor/timeConductor.e2e.spec.js
  src/plugins/timeConductor/ConductorHistory.vue
Labels: source:community

#5763 5734 synchronization for new tags on notebook entries
  docs/src/index.md
  e2e/tests/functional/plugins/notebook/notebookWithCouchDB.e2e.spec.js
  e2e/tests/functional/plugins/notebook/tags.e2e.spec.js
  src/api/annotation/AnnotationAPI.js
  src/api/annotation/AnnotationAPISpec.js
  src/api/composition/CompositionCollection.js
  src/api/objects/InMemorySearchProvider.js
  src/api/objects/InMemorySearchWorker.js
  src/api/objects/ObjectAPI.js
  src/api/objects/ObjectAPISpec.js
  src/plugins/notebook/components/Notebook.vue
  src/plugins/notebook/components/NotebookEntry.vue
  src/plugins/notebook/components/Sidebar.vue
  src/plugins/notebook/monkeyPatchObjectAPIForNotebooks.js
  src/plugins/notebook/notebook-constants.js
  src/plugins/operatorStatus/AbstractStatusIndicator.js
  src/plugins/persistence/couch/CouchObjectProvider.js
  src/plugins/persistence/couch/CouchSearchProvider.js
  src/selection/Selection.js
  src/ui/components/tags/TagEditor.vue
  src/ui/components/tags/TagSelection.vue
  webpack.dev.js
Labels: pr:e2e:couchdb
