Repository nasa/openmct, pull requests merged in 2023-04, with the labels that each got.

#6533 fix(#6503): Recently Viewed Items - Disable button if no items
  e2e/tests/functional/recentObjects.e2e.spec.js
  src/ui/layout/Layout.vue
  src/ui/layout/RecentObjectsList.vue
Labels: source:community

#6525 Ensure annotations on empty entries in notebook are not lost
  e2e/tests/functional/plugins/notebook/notebook.e2e.spec.js
  e2e/tests/functional/plugins/notebook/tags.e2e.spec.js
  src/plugins/notebook/components/Notebook.vue
  src/plugins/notebook/components/NotebookEntry.vue
  src/plugins/notebook/utils/notebook-entries.js
Labels: pr:e2e:couchdb

#5724 Add Code Coverage Doc and some other drive-bys
  .circleci/config.yml
  .github/workflows/e2e-couchdb.yml
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  CONTRIBUTING.md
  TESTING.md
  codecov.yml
  e2e/README.md
  e2e/tests/functional/plugins/notebook/tags.e2e.spec.js
Labels: pr:e2e:couchdb

#6585 Move Dependabot to weekly to reduce frequency of changes and reduce CI Bill
  .github/dependabot.yml
Labels: pr:daveit

#6450 test(visual): add theme to notification banner test name
  e2e/helper/faultUtils.js
  e2e/tests/visual/notification.visual.spec.js
  e2e/tests/visual/planning.visual.spec.js
Labels: pr:e2e:couchdb

#6583 fix(#6549): [StaticRootPlugin] Remap non-empty root namespaces and non-root namespaces correctly
  src/plugins/staticRootPlugin/StaticModelProvider.js
  src/plugins/staticRootPlugin/StaticModelProviderSpec.js
  src/plugins/staticRootPlugin/test-data/static-provider-test-empty-namespace.json
  src/plugins/staticRootPlugin/test-data/static-provider-test-foo-namespace.json
Labels: pr:e2e:couchdb

#6589 Fixes the way we start and stop couchdb on bare metal CI agents
  .circleci/config.yml
  e2e/README.md
  package.json
Labels: pr:e2e:couchdb

#6370 fix(e2e): remove unnecessary wait for `networkidle` and fix selectors
  e2e/appActions.js
  e2e/tests/functional/plugins/notebook/notebook.e2e.spec.js
  e2e/tests/functional/plugins/plot/stackedPlot.e2e.spec.js
Labels: pr:e2e:couchdb

#6600 Bump for 2.2.3
  package.json
Labels: pr:e2e:couchdb

#6608 Fix test flake and playwright version in couchdb circleci test
  .circleci/config.yml
  e2e/tests/functional/plugins/notebook/tags.e2e.spec.js
Labels: pr:e2e:couchdb

#6612 refactor: add appActions and stabilize overlayPlot and plotRendering e2e test suites
  e2e/README.md
  e2e/appActions.js
  e2e/tests/functional/plugins/plot/overlayPlot.e2e.spec.js
  e2e/tests/functional/plugins/plot/plotLegendSwatch.e2e.spec.js
  e2e/tests/functional/plugins/plot/plotRendering.e2e.spec.js
  e2e/tests/functional/plugins/plot/tagging.e2e.spec.js
Labels: pr:e2e:couchdb

#6625 Retain styling on condition widgets when adding or removing a url
  src/plugins/conditionWidget/components/ConditionWidget.vue
  src/plugins/conditionWidget/components/condition-widget.scss
  src/plugins/conditionWidget/plugin.js
  src/plugins/inspectorViews/styles/FontStyleEditor.vue
  src/ui/components/ObjectView.vue
Labels: pr:e2e:couchdb
